<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/admin/admin-header') %>
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <%- include('../partials/admin/admin-topNav') %>

    <div class="content-wrapper">
      <%- include('../partials/admin/messages') %> <%- body %>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->

      <%- include('../partials/admin/admin-footer') %>
    </div>
  </body>
</html>
