<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/default/header'); %>

  <body>
  <!-- Navigation -->
  <%- include('../partials/default/top-navigation') %>
    <!-- Page Content -->
    <div class="container">

<%- include('../partials/default/messages') %>
      <%- body %>  <!-- /.container -->
    </div>
    <%- include('../partials/default/footer'); %>

  </body>
</html>
